body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

body, html {
  height: 100%;
}

.shape {
  height: 300px;
  width: 300px;
  background-color: #1BA68E;
  padding: 100px;
}

.shape > path {
  fill: #555;
  stroke: #555;
  stroke-width: 0.1;
  stroke-linejoin: round;
}
